.albumshow-page {
  margin-left: 215px;
  height: 100vh;
  overflow: scroll;
  background: linear-gradient(to bottom right, #534C30, black);
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-flow: row wrap;
  padding-bottom: 200px;
}


// ALBUM INFO LEFT SIDE
.album-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 30px;
}

// ALBUM PHOTO + TITLE
.albumshow-photo:hover {
  // change pointer for now but want to change opacity and add play icon
  // but only to photo
  cursor: pointer;
  // background-image: 
  opacity: 0.5;
}

.albumshow-photo {
  height: 267px;
  width: 267px;
  padding-bottom: 5px;
  box-shadow: 0 0 3px 3px rgba(0,0,0,0.6);
}

.albumshow-title {
  font-size: 30px;
  color: white;
  // opacity: 1.0 !important;
  font-weight: bold;
  padding-bottom: 5px;
  width: 300px;
}

// ARTIST NAME
.albumshow-artistname-link {
  margin-bottom: 30px;
}
.albumshow-artistname {
  color: rgb(173, 171, 163);
  font-size: 14px;
}
.albumshow-artistname:hover {
  color: white;
  text-underline-position: below;
  // text-decoration: underline;
  border-bottom: 1px solid white;
  padding-bottom: 1px;
}

// PLAY
.album-play {
  font-size: 12px;
  letter-spacing: 2px;
  border: 1px solid transparent;
  border-radius: 50px;
  background-color: rgba(30, 215, 98, 0.842);
  height: 40px;
  width: 140px;
  text-align: center;
  color: white;
  align-self: center;
  margin-bottom: 10px;
}

.album-play:hover {
  transform: scale(1.1);
  background-color: #1ED761;
  transition-duration: 0.3s;
}

// ALBUM INFO
.albumshow-info {
  color: rgb(173, 171, 163);
  font-size: 12px;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

.album-split-dot {
  color: rgb(173, 171, 163);
  font-size: 20px;
  position: relative;
  top: -3px;
  margin: 0 6px;
}

// ALBUM OPTIONS
.album-options {
  display: flex;
  justify-content: space-around;
}
.album-library {
  cursor: pointer;
  color: #1DB051;
  font-size: 12px;
  letter-spacing: 2px;
  width: 180px;
}

.album-library-add {
  color: white
}

.album-library:hover {
  transform: scale(1.1);
  transition-duration: 0.2s;
}

.album-playlist {
  color: white;
  font-size: 35px;
  letter-spacing: 1px;
  width: 50px;
  position: relative;
  top: -15px;
}

.album-playlist:hover {
  transform: scale(1.1);
  transition-duration: 0.2s;
  cursor: pointer;
}

////////////////////////

// ALBUM SONGLIST
.ul-album-songs {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-top: 30px;
  padding-left: 0;
}

// SONG
.li-album-song {
  width: 800px;
  padding: 10px;
  min-height: 48px;
  display: flex;
  align-items: center;
  padding-left: 30px;
  padding-right: 20px;
  justify-content: space-between;
}

.li-album-song:hover {
  background-color: rgba(0, 0, 0, 0.342);
}

.albumshow-songtitle {
  color: white;
}


// SONG RIGHT SIDE
.song-rightside {
  display: flex;
  flex-direction: row;
  align-items: center;
}

// SONG DROPDOWN
.dropdown-button {
  background-color: inherit;
  color: white;
  padding: 16px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  letter-spacing: 1px;
  position: relative;
  top: -5px;
  outline: none;
}

.dropdown-button:hover, .dropdown-button:focus {
  transform: scale(1.1);
  transition-duration: 0.2s;
  cursor: pointer;
}

.song-dropdown {
  // float: right;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  right: 0;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.song-dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

// SONG DURATION
.song-duration {
  color: rgb(173, 171, 163);
  font-size: 15px;
  letter-spacing: 0.7px;
  padding-left: 20px;
}