// Place all the styles related to the api/albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.album-component {
  display: flex;
  justify-content: center;
}

.ul-albums {
  position: relative;
  // left: -100px;
  list-style: none;
  display: inline-grid;
  grid-template-columns: 180px 180px 180px 180px 180px;
  grid-column-gap: 15px;
  grid-row-gap: 50px;
}

.li-albums {
  text-align: center;
  align-self: end;
}
// .li-playlist:hover {
//   background-image: image-url('white-play.png');  
// }

.album-name {
  color: #F5F5F5;
  padding-bottom: 20px;
  height: 20px;
}

.album-artist {
  color: rgba(255, 255, 255, 0.514);
}

.album-photo {
  border: 1px solid transparent;
      // albums should be square / made it circle for presentation
  // border-radius: 100px;
  height: 180px;
  width: 180px;
  margin-bottom: 20px;
  background-color: #282828;
      // if they dont have an album cover
  // background-image: image-url('white-music.png');
}
.album-photo:hover {
      // if they dont have an album cover
  // background-image: image-url('white-play.png');
  transition-duration: 0.1s;
}
