.albumshow-page {
  padding-left: 230px;
  height: 100vh;
  overflow: scroll;
  background-color: #000000f5;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

// ALBUM INFO LEFT SIDE
.album-info {
  display: flex;
  flex-direction: column;
  text-align: center;
}

// ALBUM PHOTO + TITLE
.albumshow-photo-title:hover {
  // change pointer for now but want to change opacity and add play icon
  // but only to photo
  cursor: pointer;
  // background-image: 
  opacity: 0.5;
}

.albumshow-photo {
  height: 250px;
  width: 250px;
  padding-bottom: 5px;
}

.albumshow-title {
  font-size: 30px;
  color: white;
  // opacity: 1.0 !important;
  font-weight: bold;
  padding-bottom: 5px;
}

// ARTIST NAME
.albumshow-artistname-link {
  margin-bottom: 30px;
}
.albumshow-artistname {
  color: rgb(173, 171, 163);
  font-size: 14px;
}
.albumshow-artistname:hover {
  color: white;
  text-underline-position: below;
  // text-decoration: underline;
  border-bottom: 1px solid white;
  padding-bottom: 1px;
}

