
.navbar-home {
  // left: 230px;
  height: 100vh;
  // width: 500px;
  // position: fixed;
  padding-left: 230px;
  // padding-right: 410px;
  // padding-top: 10px;
  background-color: #000000f5;
  overflow: scroll;
  // display: flex;
  // justify-content: center;
  
  // overflow-x: hidden;
  // overflow-y: hidden;
}

.nav {
  display: flex;
  justify-content: center;
}

.home-tabs {
  list-style: none;
  display: flex;
  justify-content: space-between;
  // text-align: center;
  // padding-top: 10px;
  width: 500px;
  padding-top: 20px;
}

// ALL TABS
.h-link {
  opacity: 0.6;
}

.h-tabs {
  color: white;
  letter-spacing: 2px;
}

.h-link:hover {
  opacity: 1;
  transition-duration: 0.3s;
}

.selected-home-tab {
  padding-bottom: 3px;
  border-bottom: 2px solid #1db954;
  opacity: 1 !important;
  // @@@@@  USED !IMPORTANT @@@@@
}