// music player COLOR #b3b3b3
// profile background COLOR #222326

// TEST ( to logout )
.logout {
  position: relative;
  left: 500px;
}

// ALL
.logged-in {
  //TEST
  // background-color: rgb(78, 3, 3);

  // with opacity
  background-color: #000000f5;
  min-height: 680px;
}

// NAV BAR
.side-nav-bar {
  position: fixed;
  height: 100%;
  width: 190px;
  list-style: none;

  // with opacity
  background-color: #000000b6;
  margin-top: 0;

  // WHERE TO PUT OVERFLOW???
  overflow: hidden;
}

// HOME SEARCH LIBRARY
.button {
  opacity: 0.6;
}

.button:hover {
  opacity: 1;
  transition-duration: 0.3s;
}

.logo {
  height: 45px;
  width: 45px;
  position: relative;
  left: -30px;
  top: 13px;
}

.tabs {
  color: white;
  position: relative;
  font-size: 14px;
  left: -25px;
  top: -5px;
  margin: 8px;
}

// logo
.white-logo {
  height: 45px;
  width: 45px;
  position: relative;
  left: -30px;
  top: 13px;
}

.white-modify {
  color: white;
  position: relative;
  font-size: 28px;
  left: -25px;
}

//tab icons
.tab-icons {
  height: 25px;
  width: 25px;
  position: relative;
  left: -30px;
  // top: 13px;
  margin-top: 15px;
  margin-left: 10px;
}

.nav-tab {
  position: relative;
  top: 10px;
  left: 5px;
}

// home
.white-home-logo {
}


// doesn't work
.white-home-logo:active {
  background-image: image-url("home_selected.png");
}
// doesn't work
.white-home-logo:focus {
  background-image: image-url("home_selected.png");
}

.white-home {

}

// search
.white-search-logo {

}

.white-seach {

}

// library
.white-library-logo {

}

.white-library {

}

// logout
.logout-button {
  position: relative;
  bottom: -380px;
}

.logout-msg {
  // opacity: 0.6;
  border: 1px solid transparent;
  border-radius: 50px;
  height: 30px;
  width: 150px;
  margin-left: 24px;
  text-align: center;
  font-size: 16px;
  padding-top: 11px;
  background-color: #1db954c4;
}
.logout-msg:hover {
  // opacity: 1;
  background-color: #1db954;
  cursor: pointer;
  transition-duration: 0.3s;
}


// profile 
.white-profile-logo {

}

.white-profile {
  // color: #1db954;
  color: white;
  position: relative;
  font-size: 14px;
  left: 9px;
  bottom: -340px;
}

.white-profile:hover {
  color: #1db954;
  transition-duration: 0.3s;
}

// MUSIC PLAYER
.music-player {
  background-color: #222326;
  width: 100%;
  height: 88px;
  position: fixed;
  bottom:0;
}