.navbar-library-component {
  padding-left: 230px;
  height: 100vh;
  overflow: scroll;
  background-color: #000000f5;
  // display: flex; 
  // flex-wrap: wrap;
  // flex-direction: column;
}

.library-top-navbar {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.navbar-library {
  display: flex;
  justify-content: center;
  // align-self: center;
}

.library-tabs {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-self: center;
  width: 800px;
  text-align: center;
  padding-top: 20px;
}


// ALL TABS
.l-link {
  opacity: 0.6;
}

.l-tabs {
  color: white;
  letter-spacing: 2px;
}

.l-link:hover {
  opacity: 1;
  transition-duration: 0.3s;
}

.selected-library-tab {
  padding-bottom: 3px;
  border-bottom: 2px solid #1db954;
  opacity: 1 !important;
  // @@@@@  USED !IMPORTANT @@@@@
}

// PLAYLIST BUTTON
.library-new-playlist {
  position: relative;
  top: 25px;
  cursor: pointer;
}

.new-playlist {
  font-size: 12px;
  letter-spacing: 2px;
  border: 1px solid transparent;
  border-radius: 50px;
  background-color: rgba(30, 215, 98, 0.842);
  height: 30px;
  width: 140px;
  text-align: center;
}

.playlist-center {
  color: white;
  position: relative;
  top: 9px;
}

.new-playlist:hover {
  transform: scale(1.1);
  background-color: #1ED761;
  transition-duration: 0.3s;
}