// @@@@@@@  TEST  @@@@@@@@@
.navbar-library {
  left: 565px;
  height: 500px;
  width: 500px;
  position: relative; 
  top: -660px; 
  overflow: hidden;
}

.library-tabs {
  list-style: none;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

// ALL TABS
.l-link {
  opacity: 0.6;
}

.l-tabs {
  color: white;
  letter-spacing: 2px;
}

.l-link:hover {
  opacity: 1;
  transition-duration: 0.3s;
}

.selected-library-tab {
  border-bottom: 3px solid #1db954;
  opacity: 1 !important;
  // @@@@@  USED !IMPORTANT @@@@@
}