.navbar-library-component {
  left: 230px;
  width: 700px;
  position: relative; 
  // top: -660px; 
  overflow: hidden;
  padding-right: 410px;
  padding-left: 100px;
  background-color: #000000f5;
  padding-bottom: 500px;
  // padding-right: 30px;
}

.library-tabs {
  list-style: none;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-top: 20px;
  padding-left: 200px;
}

// ALL TABS
.l-link {
  opacity: 0.6;
}

.l-tabs {
  color: white;
  letter-spacing: 2px;
}

.l-link:hover {
  opacity: 1;
  transition-duration: 0.3s;
}

.selected-library-tab {
  padding-bottom: 3px;
  border-bottom: 2px solid #1db954;
  opacity: 1 !important;
  // @@@@@  USED !IMPORTANT @@@@@
}

// PLAYLIST BUTTON
.library-new-playlist {
  position: relative;
  top: -42px;
  left: 900px;
  cursor: pointer;
}

.new-playlist {
  font-size: 12px;
  letter-spacing: 2px;
  border: 1px solid transparent;
  border-radius: 50px;
  background-color: rgba(30, 215, 98, 0.842);
  height: 30px;
  width: 140px;
  text-align: center;
}

.playlist-center {
  color: white;
  position: relative;
  top: 9px;
}

.new-playlist:hover {
  transform: scale(1.1);
  background-color: #1ED761;
  transition-duration: 0.3s;
}