.over-component {
  // margin-left: 215px;
  // height: 100vh;
  // overflow: scroll;
  // background: linear-gradient(to bottom right, #324455, black);
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // flex-flow: row wrap;
  // padding-bottom: 200px;
  margin-top: 200px;
}

.popular-tab {
  color: white;
  margin-top: 100px;
  margin-left: 50px;
}

.no-padding {
  padding-bottom: 0 !important;
}

.no-flex {
  justify-content: left !important;
  margin-left: 50px;
}

.related-artists {
  margin-top: 250px;
}