// Place all the styles related to the api/playlists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.all-playlists {
  display: flex;
  justify-content: center;
  overflow: scroll;
  padding-bottom: 100px;
}

// GRID
.ul-playlist {
  position: relative;
  // left: -100px;
  list-style: none;
  padding-left: 0;
  display: inline-grid;
  grid-template-columns: 180px 180px 180px 180px 180px;
  // grid-template-rows: 150px 150px 150px 150px 150px; 
  grid-column-gap: 15px;
  grid-row-gap: 50px;
}

.li-playlist {
  text-align: center;
  align-self: end;
  // padding-bottom: 100px;
}


.li-playlist:hover {
  background-image: image-url('white-play.png');  
}


// FLEX
// .ul-playlist {
//   position: relative;
//   // left: -100px;
//   list-style: none;
//   padding-left: 0;
//   display: flex;
//   flex-wrap: wrap;
//   // width: 1000px;

// }

// .li-playlist {
//   // height: 50px;
//   // width: 50px;
//   text-align: center;
//   padding: 10px 50px;
//   // align-self: flex-end;
//   // padding-bottom: 100px;
// }



.playlist-name {
  color: #F5F5F5;
  padding-bottom: 20px;
  // position: relative;
  // bottom: 20px;
}

.playlist-photo {
  border: 1px solid transparent;
  height: 98px;
  padding: 40px;
  margin-bottom: 20px;
  background-color: #282828;
  background-image: image-url('white-music.png');
}
.playlist-photo:hover {
  background-image: image-url('white-play.png');
  transition-duration: 0.1s;
}