// Place all the styles related to the api/songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.songs-component {
  position: relative;
  // left: -50px;
  padding-bottom: 150px;
}

.ul-songs {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  // padding: 0;
}

.li-songs {
  // margin: 15px 0;
  height: 50px;
  width: 90%;
  padding: 10px 20px;
  // padding-left: 20px;
  // padding-right: 200px;
}

.li-songs:hover {
  background-color: rgba(0, 0, 0, 0.342);
  // background-color: rgba(4, 0, 255, 0.178);
}

.song-title {
  margin-left: 20px;
  color: white;
  font-weight: 300;
  cursor: default;
}

.song-title-green {
  margin-left: 20px;
  color: #1DD761;
  font-weight: 300;
  cursor: default;
}

.song-artist {
  margin-left: 20px;
}

.song-artist, .song-album{
  color: rgba(255, 255, 255, 0.514);
  font-size: 13px;
  letter-spacing: 0.5px;
}

.split-dot {
  color: rgba(255, 255, 255, 0.514);
  font-size: 25px;
  position: relative;
  top: -4px;
  margin: 0 6px;
}

.song-index {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-song {
  align-self: center;
  // display: flex;
  // flex-direction: row;
}

.left-user-song {
  display: flex;
  flex-direction: row;
}

.add-playlist {
  color: rgb(173, 171, 163);
  font-size: 14px;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.add-playlist:hover {
  background-color: #333333;
  color: white;
  cursor: pointer;
}
.remove-padding {
  padding: 0 !important;
}

// MUSIC PIC
.music-icon {
  height: 20px;
  width: 20px;
  align-self: center;
}
