/* line 1, /Users/youngchullim/Desktop/home/bootcamp/spotify/spotify_FTP/app/assets/stylesheets/api/pre_home.scss */
.pre-login {
  font-family: 'Roboto', sans-serif;;
  background: lightcoral;
  min-height: 765px;
  width: 102%;
  position: relative;
  top: -20px;
  left: -10px;
}

/* line 13, /Users/youngchullim/Desktop/home/bootcamp/spotify/spotify_FTP/app/assets/stylesheets/api/pre_home.scss */
.pre-nav {
  background: #222326;
  opacity: 0.7;
  height: 80px;
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  position: fixed;
  top: -16px;
  left: -5px;
  width: 100%;
  justify-content: flex-end;
}

/* line 29, /Users/youngchullim/Desktop/home/bootcamp/spotify/spotify_FTP/app/assets/stylesheets/api/pre_home.scss */
.pre-nav li {
  margin: 12px 17px;
}

/* line 34, /Users/youngchullim/Desktop/home/bootcamp/spotify/spotify_FTP/app/assets/stylesheets/api/pre_home.scss */
.pre-nav li a {
  position: relative;
  top: 20px;
}

/* line 43, /Users/youngchullim/Desktop/home/bootcamp/spotify/spotify_FTP/app/assets/stylesheets/api/pre_home.scss */
.pre-signup {
  color: white;
  font-weight: 600;
}

/* line 48, /Users/youngchullim/Desktop/home/bootcamp/spotify/spotify_FTP/app/assets/stylesheets/api/pre_home.scss */
.pre-login {
  color: white;
  font-weight: 600;
  margin-right: 170px;
}

/* line 54, /Users/youngchullim/Desktop/home/bootcamp/spotify/spotify_FTP/app/assets/stylesheets/api/pre_home.scss */
.welcome-msg {
  color: black;
}

/* line 59, /Users/youngchullim/Desktop/home/bootcamp/spotify/spotify_FTP/app/assets/stylesheets/api/pre_home.scss */
.footer {
  background: black;
  position: absolute;
  height: 538px;
  width: 100%;
  bottom: -538px;
}
/* line 11, /Users/youngchullim/Desktop/home/bootcamp/spotify/spotify_FTP/app/assets/stylesheets/api/sessions.scss */
.login {
  text-align: center;
  margin-top: 45px;
  font-family: 'Roboto', sans-serif;;
}

/* line 16, /Users/youngchullim/Desktop/home/bootcamp/spotify/spotify_FTP/app/assets/stylesheets/api/sessions.scss */
.login-form {
  border-top: 1px solid #dfe0e6;
}

/* line 19, /Users/youngchullim/Desktop/home/bootcamp/spotify/spotify_FTP/app/assets/stylesheets/api/sessions.scss */
.logo-button {
  border: white;
  display: inline-block;
  margin: 10px;
}

/* line 25, /Users/youngchullim/Desktop/home/bootcamp/spotify/spotify_FTP/app/assets/stylesheets/api/sessions.scss */
.login-logo {
  font-size: 35px;
  font-weight: bold;
  text-decoration: none;
  background-image: url(url(/assets/black_logo-9ff7915de707f50a57340bdea6847f9269da8965cbf08ba2ec00bd34609346c6.png));
}

/* line 32, /Users/youngchullim/Desktop/home/bootcamp/spotify/spotify_FTP/app/assets/stylesheets/api/sessions.scss */
.login-message {
  font-weight: bolder;
  margin-top: 17px;
  font-size: 16px;
}

/* line 38, /Users/youngchullim/Desktop/home/bootcamp/spotify/spotify_FTP/app/assets/stylesheets/api/sessions.scss */
.demo-button {
  height: 48px;
  width: 450px;
  background: #3b5998;
  color: white;
  border-radius: 50px;
  border: 1px solid transparent;
  cursor: pointer;
  font-size: 15px;
  margin-top: -7px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

/* line 52, /Users/youngchullim/Desktop/home/bootcamp/spotify/spotify_FTP/app/assets/stylesheets/api/sessions.scss */
.demo-button:hover {
  background: #3B59BF;
  transition-duration: 0.3s;
}

/* line 57, /Users/youngchullim/Desktop/home/bootcamp/spotify/spotify_FTP/app/assets/stylesheets/api/sessions.scss */
.or-border {
  border-bottom: 1px solid #dfe0e6;
  width: 450px;
  display: inline-block;
  line-height: 0;
  position: relative;
  top: -8px;
}

/* line 66, /Users/youngchullim/Desktop/home/bootcamp/spotify/spotify_FTP/app/assets/stylesheets/api/sessions.scss */
.or {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 20px;
  background: white;
  position: absolute;
  top: -15px;
  left: 195px;
}

/* line 77, /Users/youngchullim/Desktop/home/bootcamp/spotify/spotify_FTP/app/assets/stylesheets/api/sessions.scss */
.login-info {
  top: -20px;
  position: relative;
}

/* line 83, /Users/youngchullim/Desktop/home/bootcamp/spotify/spotify_FTP/app/assets/stylesheets/api/sessions.scss */
.email-input {
  border: 1px solid #dfe0e6;
  height: 38px;
  width: 436px;
  outline: none;
  text-align: left;
  padding-left: 12px;
  font-size: 15px;
  font-weight: 500;
}

/* line 94, /Users/youngchullim/Desktop/home/bootcamp/spotify/spotify_FTP/app/assets/stylesheets/api/sessions.scss */
.email-input:focus {
  border: 1px solid #222326;
  opacity: 0.5;
  transition-duration: 0.3s;
}

/* line 100, /Users/youngchullim/Desktop/home/bootcamp/spotify/spotify_FTP/app/assets/stylesheets/api/sessions.scss */
.email-input::placeholder {
  position: relative;
  font-size: 16px;
  color: lightgray;
  font-weight: 500;
}

/* line 108, /Users/youngchullim/Desktop/home/bootcamp/spotify/spotify_FTP/app/assets/stylesheets/api/sessions.scss */
.password-input {
  border: 1px solid #dfe0e6;
  height: 38px;
  width: 436px;
  outline: none;
  text-align: left;
  padding-left: 12px;
  font-size: 20px;
  margin: 10px;
  font-weight: bolder;
}

/* line 120, /Users/youngchullim/Desktop/home/bootcamp/spotify/spotify_FTP/app/assets/stylesheets/api/sessions.scss */
.password-input:focus {
  border: 1px solid #222326;
  opacity: 0.5;
  transition-duration: 0.3s;
}

/* line 125, /Users/youngchullim/Desktop/home/bootcamp/spotify/spotify_FTP/app/assets/stylesheets/api/sessions.scss */
.password-input::placeholder {
  position: relative;
  font-size: 16px;
  color: lightgray;
  font-weight: 500;
}

/* line 133, /Users/youngchullim/Desktop/home/bootcamp/spotify/spotify_FTP/app/assets/stylesheets/api/sessions.scss */
.login-submit {
  display: flex;
  justify-content: center;
}

/* line 138, /Users/youngchullim/Desktop/home/bootcamp/spotify/spotify_FTP/app/assets/stylesheets/api/sessions.scss */
.remember-submit {
  display: flex;
  position: relative;
  left: -45px;
  margin-top: 15px;
}

/* line 145, /Users/youngchullim/Desktop/home/bootcamp/spotify/spotify_FTP/app/assets/stylesheets/api/sessions.scss */
.remember-checkbox {
  margin: 10px;
  font-size: 100%;
}

/* line 151, /Users/youngchullim/Desktop/home/bootcamp/spotify/spotify_FTP/app/assets/stylesheets/api/sessions.scss */
.remember-submit:hover {
  cursor: pointer;
}

/* line 154, /Users/youngchullim/Desktop/home/bootcamp/spotify/spotify_FTP/app/assets/stylesheets/api/sessions.scss */
.remember-checkbox:hover {
  cursor: inherit;
}

/* line 159, /Users/youngchullim/Desktop/home/bootcamp/spotify/spotify_FTP/app/assets/stylesheets/api/sessions.scss */
.remember-me {
  position: relative;
  top: 10px;
  color: gray;
}

/* line 165, /Users/youngchullim/Desktop/home/bootcamp/spotify/spotify_FTP/app/assets/stylesheets/api/sessions.scss */
.login-space-between {
  width: 30px;
}

/* line 169, /Users/youngchullim/Desktop/home/bootcamp/spotify/spotify_FTP/app/assets/stylesheets/api/sessions.scss */
.login-button {
  border: 1px solid transparent;
  background: #1db954;
  color: white;
  width: 210px;
  cursor: pointer;
  border-radius: 50px;
  position: relative;
  top: 10px;
  left: 35px;
  height: 48px;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
}

/* line 184, /Users/youngchullim/Desktop/home/bootcamp/spotify/spotify_FTP/app/assets/stylesheets/api/sessions.scss */
.login-button:hover {
  background: #1ed760;
  transition-duration: 0.3s;
}

/* line 190, /Users/youngchullim/Desktop/home/bootcamp/spotify/spotify_FTP/app/assets/stylesheets/api/sessions.scss */
.signup-redirect {
  border-top: 1px solid #dfe0e6;
  width: 450px;
  display: inline-block;
  margin-top: 56px;
}

/* line 197, /Users/youngchullim/Desktop/home/bootcamp/spotify/spotify_FTP/app/assets/stylesheets/api/sessions.scss */
.no-account {
  margin-top: 38px;
  font-size: 17px;
  font-weight: bold;
}

/* line 202, /Users/youngchullim/Desktop/home/bootcamp/spotify/spotify_FTP/app/assets/stylesheets/api/sessions.scss */
.signup-link-wrapper {
  margin-top: 33px;
  margin-bottom: 16px;
}

/* line 206, /Users/youngchullim/Desktop/home/bootcamp/spotify/spotify_FTP/app/assets/stylesheets/api/sessions.scss */
.signup-link {
  margin-top: 20px;
  border: 2px solid #616467;
  border-radius: 50px;
  cursor: pointer;
  color: #616467;
  font-size: 13.5px;
  font-weight: 600;
  letter-spacing: 2px;
  text-align: center;
  padding: 14.5px 133px;
}

/* line 219, /Users/youngchullim/Desktop/home/bootcamp/spotify/spotify_FTP/app/assets/stylesheets/api/sessions.scss */
.signup-link:hover {
  background: #616467;
  color: white;
  transition-duration: 0.3s;
}

/* line 225, /Users/youngchullim/Desktop/home/bootcamp/spotify/spotify_FTP/app/assets/stylesheets/api/sessions.scss */
.login-footer {
  border-top: 1px solid #dfe0e6;
  margin-top: 25px;
  width: 450px;
  display: inline-block;
}

/* line 232, /Users/youngchullim/Desktop/home/bootcamp/spotify/spotify_FTP/app/assets/stylesheets/api/sessions.scss */
.ending-words {
  margin-top: 25px;
  color: lightgray;
  font-size: 11px;
  font-weight: 500;
}
/* line 8, /Users/youngchullim/Desktop/home/bootcamp/spotify/spotify_FTP/app/assets/stylesheets/api/users.scss */
.signup {
  text-align: center;
  font-family: 'Roboto', sans-serif;;
}

/* line 13, /Users/youngchullim/Desktop/home/bootcamp/spotify/spotify_FTP/app/assets/stylesheets/api/users.scss */
.signup-form {
  border-top: 1px solid #dfe0e6;
  top: 35px;
  position: relative;
  padding-top: 20px;
}

/* line 21, /Users/youngchullim/Desktop/home/bootcamp/spotify/spotify_FTP/app/assets/stylesheets/api/users.scss */
.logo-button {
  border: white;
  display: inline-block;
  margin: 10px;
}

/* line 27, /Users/youngchullim/Desktop/home/bootcamp/spotify/spotify_FTP/app/assets/stylesheets/api/users.scss */
.signup-logo {
  font-size: 35px;
  font-weight: bold;
  text-decoration: none;
}

/* line 34, /Users/youngchullim/Desktop/home/bootcamp/spotify/spotify_FTP/app/assets/stylesheets/api/users.scss */
.sn-demo-button {
  height: 48px;
  width: 320px;
  background: #3b5998;
  color: white;
  border-radius: 50px;
  border: 1px solid transparent;
  cursor: pointer;
  font-size: 15px;
  margin-top: -8px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

/* line 48, /Users/youngchullim/Desktop/home/bootcamp/spotify/spotify_FTP/app/assets/stylesheets/api/users.scss */
.sn-demo-button:hover {
  background: #3B59BF;
  transition-duration: 0.3s;
}

/* line 53, /Users/youngchullim/Desktop/home/bootcamp/spotify/spotify_FTP/app/assets/stylesheets/api/users.scss */
.sn-or-border {
  border-bottom: 1px solid #dfe0e6;
  width: 430px;
  display: inline-block;
  line-height: 0;
  position: relative;
  top: -8px;
}

/* line 62, /Users/youngchullim/Desktop/home/bootcamp/spotify/spotify_FTP/app/assets/stylesheets/api/users.scss */
.sn-or {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.5px;
  padding: 15px 13px;
  background: white;
  position: absolute;
  top: -15px;
  left: 195px;
}

/* line 73, /Users/youngchullim/Desktop/home/bootcamp/spotify/spotify_FTP/app/assets/stylesheets/api/users.scss */
.signup-message {
  font-size: 18px;
  font-weight: bold;
  top: -1px;
  position: relative;
}

/* line 82, /Users/youngchullim/Desktop/home/bootcamp/spotify/spotify_FTP/app/assets/stylesheets/api/users.scss */
.input {
  border: 1px solid #dfe0e6;
  border-radius: 2px;
  height: 46px;
  width: 412px;
  text-align: left;
  padding-left: 12px;
  font-size: 15px;
  font-weight: 500;
  top: -19px;
  position: relative;
}

/* line 95, /Users/youngchullim/Desktop/home/bootcamp/spotify/spotify_FTP/app/assets/stylesheets/api/users.scss */
.input::placeholder {
  position: relative;
  font-size: 14px;
  color: gray;
  font-weight: 500;
  letter-spacing: 0.2;
}

/* line 103, /Users/youngchullim/Desktop/home/bootcamp/spotify/spotify_FTP/app/assets/stylesheets/api/users.scss */
.input:focus::placeholder {
  opacity: 0.5;
  transition-duration: 0.3s;
}

/* line 110, /Users/youngchullim/Desktop/home/bootcamp/spotify/spotify_FTP/app/assets/stylesheets/api/users.scss */
.input-space {
  margin-top: 16px;
}

/* line 115, /Users/youngchullim/Desktop/home/bootcamp/spotify/spotify_FTP/app/assets/stylesheets/api/users.scss */
.dob-text {
  position: relative;
  top: -18px;
  left: -172px;
  font-size: 15px;
  color: gray;
}

/* line 124, /Users/youngchullim/Desktop/home/bootcamp/spotify/spotify_FTP/app/assets/stylesheets/api/users.scss */
.dob-month::-ms-expand {
  display: none;
}

/* line 128, /Users/youngchullim/Desktop/home/bootcamp/spotify/spotify_FTP/app/assets/stylesheets/api/users.scss */
.dob-month {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* remove default arrow */
  background-image: url(...);
  /* add custom arrow */
  background: white;
  border: 1px solid #dfe0e6;
  height: 48px;
  border-radius: 2px;
  width: 192px;
  position: relative;
  top: -34px;
  left: -2px;
}

/* line 145, /Users/youngchullim/Desktop/home/bootcamp/spotify/spotify_FTP/app/assets/stylesheets/api/users.scss */
.dob-day {
  position: relative;
  top: -35px;
  height: 46px;
  border: 1px solid #dfe0e6;
  width: 71px;
  margin-left: 20px;
  border-radius: 2px;
  text-align: left;
  padding-left: 12px;
}

/* line 156, /Users/youngchullim/Desktop/home/bootcamp/spotify/spotify_FTP/app/assets/stylesheets/api/users.scss */
.dob::placeholder {
  position: relative;
  font-size: 14px;
  color: gray;
  font-weight: 500;
  letter-spacing: 0.2;
}

/* line 164, /Users/youngchullim/Desktop/home/bootcamp/spotify/spotify_FTP/app/assets/stylesheets/api/users.scss */
.dob:focus::placeholder {
  opacity: 0.5;
  transition-duration: 0.3s;
}

/* line 170, /Users/youngchullim/Desktop/home/bootcamp/spotify/spotify_FTP/app/assets/stylesheets/api/users.scss */
.dob-year {
  position: relative;
  top: -35px;
  height: 46px;
  border: 1px solid #dfe0e6;
  width: 92px;
  margin-left: 20px;
  border-radius: 2px;
  text-align: left;
  padding-left: 12px;
}

/* line 183, /Users/youngchullim/Desktop/home/bootcamp/spotify/spotify_FTP/app/assets/stylesheets/api/users.scss */
.pos-gen {
  position: relative;
  top: -12px;
}

/* line 187, /Users/youngchullim/Desktop/home/bootcamp/spotify/spotify_FTP/app/assets/stylesheets/api/users.scss */
.male {
  left: -112px;
}

/* line 191, /Users/youngchullim/Desktop/home/bootcamp/spotify/spotify_FTP/app/assets/stylesheets/api/users.scss */
.female {
  left: -86px;
}

/* line 195, /Users/youngchullim/Desktop/home/bootcamp/spotify/spotify_FTP/app/assets/stylesheets/api/users.scss */
.non-binary {
  left: -62px;
}

/* line 199, /Users/youngchullim/Desktop/home/bootcamp/spotify/spotify_FTP/app/assets/stylesheets/api/users.scss */
.mfb {
  position: relative;
  display: inline;
  top: -9px;
  color: gray;
}

/* line 206, /Users/youngchullim/Desktop/home/bootcamp/spotify/spotify_FTP/app/assets/stylesheets/api/users.scss */
.m {
  left: -103px;
}

/* line 210, /Users/youngchullim/Desktop/home/bootcamp/spotify/spotify_FTP/app/assets/stylesheets/api/users.scss */
.f {
  left: -80px;
}

/* line 214, /Users/youngchullim/Desktop/home/bootcamp/spotify/spotify_FTP/app/assets/stylesheets/api/users.scss */
.b {
  left: -55px;
}

/* line 220, /Users/youngchullim/Desktop/home/bootcamp/spotify/spotify_FTP/app/assets/stylesheets/api/users.scss */
.signup-button {
  border: 1px solid transparent;
  background: #1db954;
  color: white;
  width: 320px;
  cursor: pointer;
  border-radius: 50px;
  position: relative;
  top: -5px;
  height: 48px;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
}

/* line 234, /Users/youngchullim/Desktop/home/bootcamp/spotify/spotify_FTP/app/assets/stylesheets/api/users.scss */
.signup-button:hover {
  background: #1ed760;
  transition-duration: 0.3s;
}

/* line 239, /Users/youngchullim/Desktop/home/bootcamp/spotify/spotify_FTP/app/assets/stylesheets/api/users.scss */
.login-msg {
  position: relative;
  top: -6px;
  font-size: 15px;
}

/* line 245, /Users/youngchullim/Desktop/home/bootcamp/spotify/spotify_FTP/app/assets/stylesheets/api/users.scss */
.login-link {
  color: #1db954;
  left: 5px;
}

/* line 250, /Users/youngchullim/Desktop/home/bootcamp/spotify/spotify_FTP/app/assets/stylesheets/api/users.scss */
.login-link:hover {
  opacity: 0.7;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
/* DEFAULT CSS */
/* line 19, /Users/youngchullim/Desktop/home/bootcamp/spotify/spotify_FTP/app/assets/stylesheets/application.scss */
div, a, form, label, input {
  margin: 0;
  border: 0;
  padding: 0;
  font-family: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: #222326;
  background: transparent;
}
